<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541149196428-uktcs2go2evfgbr3669pg08fse0tn6if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541149196428-uktcs2go2evfgbr3669pg08fse0tn6if</string>
	<key>API_KEY</key>
	<string>AIzaSyCfyEiAN7cx0buXueord2bVpnNJMvmkxdw</string>
	<key>GCM_SENDER_ID</key>
	<string>541149196428</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab10</string>
	<key>PROJECT_ID</key>
	<string>lab10-208</string>
	<key>STORAGE_BUCKET</key>
	<string>lab10-208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541149196428:ios:49bc7cf11e593edb858ba9</string>
</dict>
</plist>